{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/char_form.css' %}">
{% endblock %}

{% block title %}Character Registry{% endblock %}
{% block section_title %}Welcome {{ user_name | title}}{% endblock %}
{% block content %}
    <h3>Send you characters's concept</h3>

    <form method="post" action="{% url 'char_form' %}">
        <!-- <input type="Some Text"> -->
        <!-- <input type="submit" value="Save"> -->
        {% csrf_token %} <!-- required for a POST -->
        <div class="char_form">
            {{ char_form.as_p}} <!-- the .as_p treats each item of the form a being inside a <p> </p> -->
        </div>
        <input type="submit" value="Save Character">
    </form>

{% endblock %}
