{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/contact.css' %}">
{% endblock %}

{% block title %}Contact Form{% endblock %}
{% block section_title %}Welcome {{ user_name | title}}{% endblock %}
{% block content %}
    <h3>Contact Us</h3>

    <form method="post" action="{% url 'contact' %}">
        <!-- <input type="Some Text"> -->
        <!-- <input type="submit" value="Save"> -->
        {% csrf_token %} <!-- required for a POST -->
        {{ contact_form.as_p}} <!-- the .as_p treats each item of the form a being inside a <p> </p> -->
        <input type="submit" value="Contact us!">
    </form>

{% endblock %}
