{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/rules_systems_list.css' %}">
{% endblock %}

{% block title %}List of Rules Systems{% endblock %}
{% block section_title %}Welcome {{ user_name | title}}{% endblock %}
{% block content %}
    {% if sponsor %}
        <p style="color:royalblue">Thank you for your sponsorship</p>

    {% else %}
        <p style="color: green;">Please sponsor my site</p>
    {% endif %}

    <p>Current timeline: <b>{{today | date}}</b></p>
    <h2>List of RPG Rules Systems</h2>
    <h3>Systems: </h3>
    <ul>
        {% for system in rules_systems_list %}
            <li>
                {% filter title %}
                    <p>Name: {{system.system_name | upper}}</p>
                    <p>Edition: {{system.edition}}°</p>
                {% endfilter %}
            </li>
        {% empty %}
            <p> No Rules Systems found </p>    
        {% endfor %}
    </ul>
        
    {% if rules_systems_list.count > 0 %}
        <p> Number of Rules Systems: {{rules_systems_list.count}}</p>
    {% else %}
        <p> No Rules Systems registered </p>
    {% endif %}
{% endblock %}
