{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/rules_systems_form.css' %}">
{% endblock %}

{% block title %}Rules Systems Registry{% endblock %}
{% block section_title %}Welcome {{ user_name | title}}{% endblock %}
{% block content %}
    <h3>Register a new Rules System</h3>

    <form method="post" action="{% url 'rules_systems_form' %}">
        <!-- <input type="Some Text"> -->
        <!-- <input type="submit" value="Save"> -->
        {% csrf_token %} <!-- required for a POST -->
        <div class="rules_systems_form">
            {{ form.as_p}} <!-- the .as_p treats each item of the form a being inside a <p> </p> -->
        </div>
        <input type="submit" value="Register Rules System">
    </form>

{% endblock %}