<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django start </title>
</head>
<body>
    <header>
        <h1>D-Hello d-world!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="sub_url/">Characters' Names</a></li>
            <li><a href="sub_url/birth/">Birth years</a></li>
        </ul>
    </nav>
    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>