<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of characters</title>
</head>
<body>
    <header>
        <h1>Welcome {{ user_name }}</h1>
        <h2>List of RPG characters</h2>
        
        {% if sponsor %}
            <p style="color:royalblue">Thank you for your sponsorship</p>

        {% else %}
            <p style="color: green;">Please sponsor my site</p>
        {% endif %}

        <p>Current timeline: <b>{{today}}</b></p>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'npc_list' %}">Characters list</a></li>
           
        </ul>
    </nav>
    <main>
        <h3>Characters: </h3>
        <ul>
            <li>
                <p>Name: </p>
                <p>Year: </p>
                <p>System: </p>
            </li>
        </ul>

    </main>
    <footer>

    </footer>
</body>
</html>