{% extends "base.html" %}
{% block title %}List of characters{% endblock %}
{% block section_title %}Welcome {{ user_name | title}}{% endblock %}
{% block content %}
    {% if sponsor %}
        <p style="color:royalblue">Thank you for your sponsorship</p>

    {% else %}
        <p style="color: green;">Please sponsor my site</p>
    {% endif %}

    <p>Current timeline: <b>{{today | date}}</b></p>
    <h2>List of RPG characters</h2>
    <h3>Characters: </h3>
    <ul>
        {% for npc in list_of_npc %}
            <li>
                {% filter title %}
                    <p>Name: {{npc | upper}}</p>
                    <p>Year: </p>
                    <p>System: </p>
                {% endfilter %}
            </li>
        {% empty %}
            <p> No characters in place </p>    
        {% endfor %}
    </ul>
        
    {% if npc_count > 0 %}
        <p> Number of characters: {{npc_count}}</p>
    {% else %}
        <p> No characters registered </p>
    {% endif %}
{% endblock %}
